.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    width: 80%;
    margin-top: 50px;
  }

  a {
    margin: 25px;
  }
}

.modal-info {
  margin-left: 17px;
}
