.profile {
  width: 90%;
  margin: 50px auto;

  &__form-photo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;    

    &-img {
      width: 200px;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

}
